body {
  background-color: #eee;
  color: #666;
  font-family: "Quattrocento Sans" sans-serif; }

#page {
  border-left: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  background-color: #fff; }

a:link, a:visited, a:hover {
  color: #224f9b;
  font-weight: bold; }

p {
  color: #666;
  font-family: "Quattrocento Sans" sans-serif;
  font-size: 18px; }

h1, h2 {
  color: #0099cc;
  font-family: "Arvo"; }

#page-title {
  margin-left: 10px; }

.form-text,
.form-textarea,
.form-select {
  background-color: #FFF;
  border: 1px solid #0099cc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ccc;
  height: 23px;
  left: 4px;
  padding-left: 5px;
  position: relative; }

#edit-submit {
  background-color: #0099cc;
  border: 2px solid white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFF;
  height: 32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  position: relative; }

form label {
  color: #0099cc;
  font-family: allerta; }

#footer {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  text-align: center; }

#header {
  height: 80px;
  padding-top: 20px; }

#branding {
  float: left; }

#logo .systemick {
  color: #0099cc;
  font-family: "Aldrich";
  font-size: 90px;
  font-weight: bold;
  left: 10px;
  position: relative; }
#logo .web, #logo .development {
  color: #224f9b;
  font-family: "Aldrich";
  font-size: 24px;
  font-weight: bold; }
#logo .web {
  left: 220px;
  position: absolute;
  top: 25px; }
#logo .development {
  left: 320px;
  position: absolute;
  top: 25px; }
#logo img {
  left: 562px;
  position: absolute;
  top: 45px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #logo .development {
    left: 320px;
    position: absolute;
    top: 5px; }
  #logo img {
    left: 512px;
    position: absolute;
    top: 31px; } }

.region-header {
  float: right;
  width: 400px; }
  .region-header #block-block-2 {
    margin-bottom: 0;
    padding: 0; }
  .region-header #social {
    float: right;
    margin-top: 40px; }
    .region-header #social #twitter {
      float: right; }
    .region-header #social #facebook {
      float: right;
      width: 80px; }
  .region-header #block-search-form {
    float: right;
    margin-bottom: 0; }

#primary-menu-bar {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666; }
  #primary-menu-bar a {
    color: #666;
    font-family: "Arvo" sans-serif;
    font-size: 24px; }
  #primary-menu-bar a.active {
    /*background-color: #ccc;*/
    /*border-bottom: 2px solid #fff;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;*/
    color: #0099cc;
    height: 100%; }

.nav ul,
.nav ul.menu {
  padding: 10px 0 10px 0; }

#block-search-form {
  padding: 0;
  /*float: right;
  position: relative;
  top: 115px;*/ }
  #block-search-form .form-submit {
    background-color: #0099cc;
    border: 2px solid white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
    height: 32px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    position: relative; }
  #block-search-form .form-text,
  #block-search-form .form-textarea,
  #block-search-form .form-select {
    background-color: #FFF;
    border: 1px solid #0099cc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #ccc;
    height: 23px;
    left: 4px;
    padding-left: 5px;
    position: relative; }
  #block-search-form .form-item-search-block-form {
    width: 100px; }

#contact-site-form .form-text,
#contact-site-form .form-textarea,
#contact-site-form .form-select {
  background-color: #FFF;
  border: 1px solid #0099cc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ccc;
  height: 23px;
  padding-left: 5px; }

.block-tweets .item-list ul,
.page-tweets .item-list ul {
  margin: 0;
  padding: 0; }
.block-tweets .item-list li,
.page-tweets .item-list li {
  border-bottom: 1px solid #cccccc;
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0; }
  .block-tweets .item-list li .tweet,
  .page-tweets .item-list li .tweet {
    color: #333;
    padding: 5px 0 5px 0; }
  .block-tweets .item-list li .date,
  .page-tweets .item-list li .date {
    font-style: italic; }

.block-tweets li.first {
  padding-top: 10px; }

.block {
  margin-bottom: 0;
  padding: 10px; }
  .block h2 {
    margin-bottom: 10px; }
  .block .views-field-created .views-label,
  .block .views-field-created .field-content {
    font-size: 10px;
    font-style: italic; }

#block-block-1 {
  border-bottom: solid 1px #aaaaaa;
  padding-top: 20px; }
  #block-block-1 img {
    border: solid 2px #aaaaaa;
    float: right;
    margin: 5px 0 10px 10px; }

#block-views-blog-block {
  float: left;
  padding-right: 100px;
  width: 40%; }

#main-content {
  margin-top: 20px; }

.sidebar-first .region-sidebar-first {
  margin-top: 15px; }

.region-sidebar-first .block {
  border-bottom: 1px solid #aaaaaa;
  padding-left: 0; }
.region-sidebar-first .views-row {
  margin-bottom: 10px; }
  .region-sidebar-first .views-row .views-field-created {
    line-height: 1; }

.block-tagadelic a {
  color: #666;
  font-family: allerta; }
.block-tagadelic .more-link a {
  color: #224f9b;
  font-family: "crimson text";
  font-weight: bold; }

.page-blog p {
  margin-bottom: 0; }
.page-blog h2 a {
  color: #224f9b; }
.page-blog p.author-datetime {
  font-size: 10px;
  font-style: italic;
  margin-bottom: 0; }
.page-blog .node {
  border-bottom: 1px solid #cccccc;
  margin: 20px 0 5px 0; }

.page-skills .views-row-odd .field-name-field-image {
  float: right;
  padding: 0 0 10px 10px; }
.page-skills .views-row-even .field-name-field-image {
  float: left;
  padding: 10px 10px 0 0; }
