.page-blog {
  p {
    margin-bottom: 0;
  }
  
  h2 a {
    color: #224f9b;
  }
  
  p.author-datetime {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 0;
  }
  
  .node {
    border-bottom: 1px solid #ccc;
    margin: 20px 0 5px 0;
  }
}