#contact-site-form {
  
  .form-text,
  .form-textarea,
  .form-select {
    background-color: #FFF;
    border: 1px solid #0099cc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #ccc;
    height: 23px;
    padding-left: 5px;
  }
  
}