.region-sidebar-first {
  
  .block {
    border-bottom: 1px solid #aaa;
    padding-left: 0;
  }
  
  .views-row {
      margin-bottom: 10px;
      
      .views-field-created {
        line-height: 1;
      }
    }
}