.page-skills {
  .views-row-odd {
    .field-name-field-image {
      float: right;
      padding: 0 0 10px 10px;
    }
  }
  .views-row-even {
    .field-name-field-image {
      float: left;
      padding: 10px 10px 0 0;
    }
  }
}